body {
  border: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  margin: auto;
  overflow: hidden;
  width: calc(100% - 2px);
}

table {
  width: 100%;
  border-spacing: 0;
  font-family: arial, sans-serif;
}

table tr td {
  padding: 0;
}

table tr td svg {
  fill: #777;
  margin: auto;
  pointer-events: none;
  vertical-align: middle;
}

video {
  width: 100%;
  height: 100%;
  margin: auto;
  outline: none;
  background-color: transparent;
}

video::media-controls-panel {display: flex !important; opacity: 1.0 !important}
video::-moz-media-controls-panel {display: flex !important; opacity: 1.0 !important}
video::-webkit-media-controls-panel {display: flex !important; opacity: 1.0 !important}

span {
  color: #555;
  float: right;
  margin: 0 10px;
  min-width: 64px;
  text-align: right;
  font-family: monospace;
}

ul {
  margin: 0;
  padding: 0;
  font-size: 12px;
  list-style: none;
  font-family: arial;
}

li {
  padding: 0;
  color: #555;
  height: 38px;
  margin: 1px 0 0 0;
  line-height: 38px;
  padding-left: 10px;
  font-family: monospace;
  background-color: rgba(0,0,0,0.05);
}

a {
  margin: 0;
  color: #0068c3;
  font-size: 12px;
  font-weight: 600;
  margin-left: 10px;
  font-style: normal;
  display: inline-block;
  text-decoration: none;
  font-family: monospace;
}

p {
  border: 0;
  padding: 0;
  color: #555;
  height: 38px;
  font-size: 12px;
  font-weight: 600;
  margin: 5px auto;
  overflow: hidden;
  line-height: 38px;
  text-indent: 10px;
  white-space: nowrap;
  font-family: monospace;
  text-overflow: ellipsis;
  border-top: solid 1px rgba(0,0,0,0.1);
  border-bottom: solid 1px rgba(0,0,0,0.1);
}

button {
  margin: 0;
  border: 0;
  color: #555;
  width: 100%;
  height: 48px;
  outline: none;
  padding: 0 5px;
  cursor: pointer;
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: 1px;
  background-color: #FFF;
  vertical-align: middle;
  text-overflow: ellipsis;
  transition: 300ms ease all;
}

button[disabled] {
  opacity: 0.30;
  pointer-events: none;
  background-color: #FFF !important;
}

button:hover {
  background-color: rgba(0,0,0,0.05);
}

.container {
  width: 100%;
  margin: 0 auto;
}

.header {
  border-spacing: 0;
  table-layout: fixed;
}

.toolbar {
  width: 250px;
}

.toolbar table {
  table-layout: fixed;
}

.toolbar table tr td {
  width: 48px;
  height: 48px;
  cursor: pointer;
  text-align: center;
}

.toolbar tr td:hover {
  background-color: rgba(0,0,0,0.05);
}

.media {
  width: 100%;
  height: 350px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  background-color: #555;
  justify-content: center;
}

.content div {
  height: 100vh;
  overflow-y: auto;
  max-height: calc(100vh - 449px);
  background: url('../icons/48.png') no-repeat center center;
  background-size: 48px;
}

.separator {
  width: 16px !important;
  text-align: center !important;
  background-color: transparent;
}

#audio svg[loader] {display: none}
#audio[loading] svg {display: none}
#audio[loading] {pointer-events: none}
#audio[loading] svg[loader] {display: block}

#video svg[loader] {display: none}
#video[loading] svg {display: none}
#video[loading] {pointer-events: none}
#video[loading] svg[loader] {display: block}

@media (max-width: 500px) {
  span {
    float: none;
    display: inline-block;
  }
  .media {
    height: 250px;
  }
  .content div {
    max-height: calc(100vh - 340px);
  }
  .toolbar, .separator {
    display: none;
  }
}

html[context="webapp"] .toolbar {
  display: none;
}