body {
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  overflow: hidden;
}

input {
  vertical-align: middle;
}

table {
  width: 100%;
  border-spacing: 0;
  font-family: arial, sans-serif;
}

table tr td {
  padding: 0;
}

table tr td svg {
  fill: #555;
  margin: auto;
  pointer-events: none;
  vertical-align: middle;
}

video {
  width: 100%;
  height: 100%;
  margin: auto;
  outline: none;
  background-color: transparent;
}

video::media-controls-panel {display: flex !important; opacity: 1.0 !important}
video::-moz-media-controls-panel {display: flex !important; opacity: 1.0 !important}
video::-webkit-media-controls-panel {display: flex !important; opacity: 1.0 !important}

.header {
  width: 100%;
  height: 300px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  background-color: #333;
  justify-content: center;
}

.controls table {
  border-spacing: 0;
  table-layout: fixed;
}

.controls table tr td {
  margin: 0;
  padding: 0;
  width: 100%;
  user-select: none;
  white-space: nowrap;
}

.controls table tr td input[type='checkbox'] {
  margin: 5px;
}

.controls table tr td div {
  height: 52px;
  margin: 10px;
  cursor: pointer;
  line-height: 52px;
  user-select: none;
  text-align: center;
  transition: 300ms ease all;
  border: solid 1px rgba(0,0,0,0.25);
  background-color: rgba(0,0,0,0.01);
}

.controls table tr td div:hover {
  background-color: rgba(0,0,0,0.05);
}

.controls table tr td div span {
  color: #333;
  font-size: 13px;
  font-weight: 600;
  user-select: none;
  padding: 10px 5px;
  vertical-align: middle;
  font-family: monospace;
}

.controls table tr td label {
  width: auto;
  color: #333;
  height: 38px;
  font-size: 13px;
  text-indent: 5px;
  overflow: hidden;
  line-height: 38px;
  display: inline-block;
  font-family: monospace;
  vertical-align: middle;
}

.controls table tr td label[required] {
  pointer-events: none;
}

.controls table tr td label[required] p,
.controls table tr td label[required] input {
  opacity: 0.7;
}

.controls table tr td > span {
  width: 22px;
  height: 22px;
  text-indent: 0;
  cursor: pointer;
  margin-left: 5px;
  user-select: none;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  transition: 300ms ease all;
  background-color: rgba(0,0,0,0.05);
}

.controls table tr td > span:hover {
  background-color: rgba(0,0,0,0.05);
}

.controls table tr td label p {
  border: 0;
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 13px;
  overflow: hidden;
  user-select: none;
  white-space: nowrap;
  display: inline-block;
  font-family: monospace;
  vertical-align: middle;
  text-overflow: ellipsis;
  max-width: calc(100vw - 98px);
}

.footer {
  margin: 0;
  margin-top: 5px;
  position: relative;
  border-top: solid 1px rgba(0,0,0,0.05);
}

.footer details {
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%;
}

.footer summary {
  color: #555;
  height: 42px;
  cursor: pointer;
  font-size: 13px;
  overflow: hidden;
  font-weight: 600;
  text-indent: 10px;
  user-select: none;
  line-height: 42px;
  white-space: nowrap;
  font-family: monospace;
  text-overflow: ellipsis;
  border-bottom: solid 1px rgba(0,0,0,0.05);
}

.footer ul {
  margin: 0;
  padding: 0;
  font-size: 13px;
  list-style: none;
  overflow-y: auto;
  font-family: arial;
  overflow-x: hidden;
  max-height: calc(100vh - 500px);
}

.footer li {
  margin: 0;
  padding: 0;
  color: #555;
  height: 42px;
  display: flex;
  line-height: 42px;
  padding-left: 10px;
  font-family: monospace;
  border-bottom: solid 1px rgba(0,0,0,0.05);
}

.footer li a {
  flex: 1;
  margin: 0;
  color: #0068c3;
  font-size: 13px;
  overflow: hidden;
  margin-left: 10px;
  font-style: normal;
  white-space: nowrap;
  display: inline-block;
  text-decoration: none;
  font-family: monospace;
  text-overflow: ellipsis;
}

.footer li span {
  width: 64px;
  float: right;
  padding: 0 10px;
  min-width: 64px;
  max-width: 64px;
  user-select: none;
  text-align: center;
}

.footer .toolbar {
  top: 0;
  right: 0;
  width: auto;
  table-layout: fixed;
  position: absolute;
}

.footer .toolbar tr td {
  width: 42px;
  height: 42px;
  cursor: pointer;
  text-align: center;
}

.footer .toolbar tr td:hover {
  background-color: rgba(0,0,0,0.05);
}

.action #loader svg {
  vertical-align: unset;
}

.action #loader span {
  padding-right: 3px;
}

.action div {
  padding: 0 10px;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  text-overflow: ellipsis;
}

.action #stop {display: none}
.action #loader {display: none}
.action #start {display: block}
.action[loading] #stop {display: none}
.action[loading] #start {display: none}
.action[loading] #loader {display: block}
.action[recording] #stop {display: block}
.action[recording] #start {display: none}

.controls #camera-permission[denied] svg {fill: #fff}
.controls #microphone-permission[denied] svg {fill: #fff}
.controls #camera-permission[denied] {background-color: #e74c3c}
.controls #microphone-permission[denied] {background-color: #e74c3c}

@media (max-width: 500px) {
  .toolbar {
    display: none;
  }
}

html[context="webapp"] .toolbar {
  display: none;
}

html[theme='dark'], 
html[theme='dark'] body {
  color: #ebebeb;
  color-scheme: dark;
  background-color: #1e1e1e;
}

html[theme='dark'] .header {
  background-color: #1e1e1e;
}

html[theme='dark'] .footer li {
  background-color: rgb(255 255 255 / 5%);
}

html[theme='dark'] .footer .toolbar tr td:hover,
html[theme='dark'] .controls table tr td div:hover {
  background-color: rgb(255 255 255 / 5%);
}

html[theme='dark'] .footer li,
html[theme='dark'] .footer summary,
html[theme='dark'] .controls table tr td label p,
html[theme='dark'] .controls table tr td div span {
  color: #ebebeb;
}

html[theme='dark'] .footer li a {
  filter: brightness(150%);
}

html[theme='dark'] .footer,
html[theme='dark'] .footer li,
html[theme='dark'] .footer summary,
html[theme='dark'] .controls table tr td div {
  border-color: rgb(255 255 255 / 25%);
}

html[theme='dark'] table tr td svg,
html[theme='dark'] .footer .toolbar svg,
html[theme='dark'] .controls table tr td > span svg {
  fill: #ebebeb;
}
